@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* { 
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    margin: 1.5rem;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, p{
    margin: 1rem 0;
}

h2{
    text-decoration:underline;
}

p{
    font-size: 2rem;
    position: relative;
}

/* ANTES DEL CONTENIDO */
p::before{
    content: '';
    position: absolute;
    background-color: #f7797d;
    display: block;
    width: 10px;
    height: 10px;
    top: -10px;
}

/* DESPUES DEL CONTENIDO */
p::after{
    content: '';
    position: absolute;
    background-color: #f7797d;
    display: block;
    width: 10px;
    height: 10px;
}

.list__card{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 2rem;
}

.list__card h2{
    text-align: center;
    grid-column: 1 / -1;
}

.card{
    border: 1px solid #C6FFDD;
    border-radius: 10px;
    text-align: center;
    overflow : hidden;
}

.card__title{
    background-color: #c6ffdd;
    padding: 1.2rem;
    color: #1a1a1a;
    font-size: 1.5rem;
}

.card__description{
    padding: 1.5rem;
}

/* USE CASES */
/* ICONS */
.list{
    list-style: none;
}

.list li{
    margin: 0.5rem 0;
}

.list > li::before{
    content: "\2714";
    margin: 0 0.5em 0 -1rem;
}

/* FUN BORDERS */
.title{
    position: relative;
    display: inline-block;
}

.title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: linear-gradient(90.84deg, 
    #C6FFDD -12.84%, 
    #FBD786 30.91%,
    #f7797d 104.16% );
}

/* QUOTES */
.quote{
    font-size: 1.5rem;
}

.quote::before{
    content: '\275D';
    color: #C6FFDD;
    font-size: 2rem;
}

.quote::after{
    content: '\275E';
    color: #f7797d;
    font-size: 2rem;
    right: 10px;
}

/* ARROWS */
.tooltip{
    font-size: 1.5rem;
    font-weight: 700;
}
.tooltip{
    display: inline-block;
    padding: 1rem 2rem;
    background-color:#C6FFDD;
    color: #1a1a1a;
    position: relative;
}

.tooltip::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #C6FFDD;
    left: 50%;
    bottom: -1rem;
    transform: translate(-50%);
}